.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(79, 113, 226);
    
}

.navbar__right{
    display: inline-block;
    align-self: center;
   margin-right: 20px;
  
}

.navbar__right__item{
    text-decoration: none;
    color: white;
    margin: 10px;
    text-shadow: 2px 2px 4px #000000;
}

.navbar__right__item:hover,
.navbar__right__item:active{
    text-decoration: none;
    color: lawngreen;
    margin: 10px;
    text-shadow: 2px 2px 4px #000000;
}

